// Border Radius
@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}

// Margins
@mixin margins($margin) {
	margin: $margin;
}