// Colors Buttons
// Red
$bgRedButton: #f48472;
$colorRedButton: #ffffff;

// Blue
$bgBlueButton: #3ec2cf;
$colorBlueButton: #ffffff; 



// Text Colors
$mainColor: #545454;
$colorBlue1: #2dccd2;
$colorRed1: #f48472;
$colorError: #db4437;

// Bg Colors
$bgGray1: #f5f5f5;
$bgBlue1: #2dccd2;

